---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 Hello, Astronaut!</h1>
      <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
        template. This template serves as a lightweight, minimally-styled starting
        point for anyone looking to build a personal website, blog, or portfolio
        with Astro.
      </p>
      <p>
        This template comes with a few integrations already configured in your
        <code>astro.config.mjs</code> file. You can customize your setup with
        <a href="https://astro.build/integrations">Astro Integrations</a> to add
        tools like Tailwind, React, or Vue to your project.
      </p>
      <p>Here are a few ideas on how to get started with the template:</p>
      <ul>
        <li>Edit this page in <code>src/pages/index.astro</code></li>
        <li>
          Edit the site header items in <code>src/components/Header.astro</code>
        </li>
        <li>
          Add your name to the footer in <code>src/components/Footer.astro</code
          >
        </li>
        <li>
          Check out the included blog posts in <code>src/content/blog/</code>
        </li>
        <li>
          Customize the blog post page layout in <code
            >src/layouts/BlogPost.astro</code
          >
        </li>
      </ul>
      <p>
        Have fun! If you get stuck, remember to
        <a href="https://docs.astro.build/">read the docs</a>
        or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
      </p>
      <p>
        Looking for a blog template with a bit more personality? Check out
        <a href="https://github.com/Charca/astro-blog-template"
          >astro-blog-template</a
        >
        by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
      </p>
      <article
        class="rounded-[10px] border border-gray-200 bg-white px-4 pt-12 pb-4"
      >
        <time datetime="2022-10-10" class="block text-xs text-gray-500">
          10th Oct 2022
        </time>

        <a href="#">
          <h3 class="mt-0.5 text-lg font-medium text-gray-900">
            How to center an element using JavaScript and jQuery
          </h3>
        </a>

        <div class="mt-4 flex flex-wrap gap-1">
          <span
            class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600"
          >
            Snippet
          </span>

          <span
            class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600"
          >
            JavaScript
          </span>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>