* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
header {
  display: block;
  height: 10vh;
  background-color: cadetblue;
}
figure {
  display: inline-block;
  margin: 1rem;
}
nav {
  position: absolute;
  right: 1.5rem;
  display: inline-block
}
ul {
  list-style: none;
  text-align: center;
}
li {
  display: inline-block;
  margin: 1rem;
}
main {
  height: 80vh;
}
footer {
  height: 10vh;
  background-color: darkorange;
}
aside, section {
  display: inline-block;
  height: 80vh;
}
aside {
  width: 20vw;
  background-color: chocolate;
}
aside div {
  height: 15vh;
  margin: 3vh;
  background-color: crimson;
}
section {
  position: absolute;
  left: 20vw;
  width: 80vw;
  padding: 1rem;
  background-color: darkblue;
}
.footer-social, .footer-info {
  display: inline-block;
  margin: 1rem;
}
.footer-info {
  position: absolute;
  right: 1.5rem;
}