---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meltshop Labs</title>
</head>
<body>
    <h1>MELTSHOP LABS</h1>
    <p>Un blog dedicado al mundo de la siderúrgia!</p>
    <slot />
</body>
</html>